#home {
  background-color: #d78fd2;
}
.jumbotron {
  background-color: #d78fd2;
}

#about {
  background-color: #fff;
}

#resume {
  background-color: #fff;
}

#gallery {
  background-color: #d78fd2;
}

#contact {
  background-color: #d78fd2;
  padding-bottom: 3rem;
}

section {
  padding-top: 5rem;
}
.contact a {
  color: white;
  font-size: 30px;
  padding-bottom: 3rem;
}
